<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color:#F7F7F7;">
<div class="card" style="background-color:#F7F7F7;">
  
</div>
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5" style="background-color:#F7F7F7;">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="https://www.svgrepo.com/show/177884/american-football-sports.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"></i>PNLF Administration Site
          </h6>
          <p>
            Sitio dedicado a la administración de la Liga Nacional de Futbol Americano de Parra.
            Dentro de este se lleva el monitoreo de los equipos, jugadores y estadios que participarán.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Registro
          </h6>
          <p>
            <a href="/stadiums/form/" class="text-reset">Estadios</a>
          </p>
          <p>
            <a href="/teams/form/" class="text-reset">Equipos</a>
          </p>
          <p>
            <a href="/players/form/" class="text-reset">Jugadores</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Listas
          </h6>
          <p>
            <a href="/stadiums/list/" class="text-reset">Estadios</a>
          </p>
          <p>
            <a href="/teams/list/" class="text-reset">Equipos</a>
          </p>
          <p>
            <a href="/players/list/" class="text-reset">Jugadores</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contacta al desarrollador</h6>
          <p><img src="https://www.svgrepo.com/show/128977/house.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"></i> Tijuana, B.C., México</p>
          <p>
            <img src="https://www.svgrepo.com/show/2784/mail.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            L19211715@tijuana.tecnm.mx
          </p>
          <p><img src="https://www.svgrepo.com/show/15367/phone.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> +(52) 664 3352557</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(75, 133, 95); color:white">
    © 2022 Copyright:
    <a class="text-reset fw-bold">Ramirez Flores Abril</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->