<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.svgrepo.com/show/177743/american-football-sports.svg" alt="" width="30" height="24"
          class="d-inline-block align-text-top">
        PNLF Administration Site
      </a>
  </nav>

  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Panoramic_Michigan_Stadium.jpg/2560px-Panoramic_Michigan_Stadium.jpg'); height: 400px;">
  </div>
  <!-- Background image -->
</header>