{% extends 'base.html' %}

{% block content%}

<h1 class="display-4">Lista de estadios</h1>
<h4> Página donde podrá tener acceso a la información de los estadios registrados </h4>

<hr class="my-4">

<!-- Etiqueta "table", la cual se encarga de coemnzar un apartado de tabla -->
<table class="table table-sm table-borderless">
    <!-- Etiqueta "thead",  -->
    <thead class="font-weight-bold">
        <!-- Etiqueta "tr", la cual se emplea para definir cada fila de la tabla -->
        <tr>
            <!-- Etiqueta "td", la cual se emplea para definir las cabeceras de una fila o de una columna de la tabla -->
            <td>Nombre</td>
            <td>Ciudad</td>
            <td>Estado</td>
            <td>Capacidad</td>
            <td>
                <a href="{% url 'stadium_Form' %}" class="btn btn-success btn-sm">
                    <i class="fas fa-plus"></i> Add
                </a>
            </td>
        </tr>
    </thead>

    <!-- Etiqueta "tbody", la cual se emplea para definir el cuerpo de la tabla -->
    <tbody>
        <!-- Etiqueta "for", la cual se emplea para iterar sobre una lista de objetos -->
        {% for stadium in stadium_list %}
            <!-- Etiqueta "tr", la cual se emplea para definir cada fila de la tabla -->
            <tr>
                <td>{{ stadium.stdm_Name }}</td>
                <td>{{ stadium.stdm_City }}</td>
                <td>{{ stadium.stdm_State }}</td>
                <td>{{ stadium.stdm_Capacity }}</td>
                <td>
                    <!-- Se agrega un botón que redirecciona al usuario -->
                    <a href="{% url 'stadium_Update' stadium.id %}" class="btn text-secondary px-8">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'stadium_Delete' stadium.id %}" class="btn text-danger px-8">
                        <i class="far fa-trash-alt fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}