{% extends 'base.html' %}
{% load crispy_forms_tags %} 

{% block content%}

<h1 class="display-4">Formulario de registro de estadios</h1>
<h4> Todos los campos son obligatorios </h4>

<hr class="my-4">

<form action = "", method = "post", autocomplete = "off">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-6">
            {{form.stdm_Name|as_crispy_field}}
        </div>

        <div class="col-md-6">
            {{form.stdm_City|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{form.stdm_State|as_crispy_field}}
        </div>

        <div class="col-md-2">
            {{form.stdm_Capacity|as_crispy_field}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>

        <div class="col-md-4">
            <a href="{% url 'stadium_List' %}" type="submit" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>
</form>
{% endblock %}
